<div class="jumbotron">
  <h1>Welcome to</h1>
  <p class="lead">
    <br>
    <img width="400px" src="images/issuetracker_logo.png" alt="IssueTracker"><br>
    <br>
    Helping you to build better software.
  </p>
</div>

<div class="row marketing">
  <h3><span class="glyphicon glyphicon-paperclip"></span> Issue tracking made easy</h3>
  <p>
    Easy and efficient issue tracking!
  </p>

  <h3><span class="glyphicon glyphicon-wrench"></span> Built with modern technologies</h3>
  <p>
    Built with AngularJS, Bootstrap and Firebase!
  </p>

  <h3><span class="glyphicon glyphicon-eye-open"></span> Easy and fast user interface</h3>
  <p>IssueTracker has a simple and fast user interface!</p>
</div>
