<div class="jumbotron">
  <h1>Welcome to</h1>
  <p class="lead">
    <br>
    <img width="400px" src="images/issuetracker_logo.png" alt="IssueTracker"><br>
    <br>
    Helping you to build better software.
  </p>
</div>

<div class="row marketing">
  <h4>Issue tracking made easy</h4>
  <p>
    Easy and efficient issue tracking!
  </p>

  <h4>Built with modern technologies</h4>
  <p>
    Built with AngularJS, Bootstrap and Firebase!
  </p>

  <h4>Easy and fast user interface</h4>
  <p>IssueTracker has a simple and fast user interface!</p>
</div>
